*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #353333;
  box-sizing: border-box;
}

.header {
  height: 9.8rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-items: center;
}
.logo-box {
  justify-self: center;
  /* margin-left: 18.4rem; */
}
.main-nav {
  justify-self: end;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 7.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0 1rem;
  border-radius: 1.6rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  background-color: #6c9d56;
  color: #ffffff;
  font-weight: 400;
}

.social-media-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
/* *************************************************** */
.hero-section {
  background-color: #dee9d9;
  height: 36vh;
  position: relative;
}

.heading-primary {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 1.05;
  color: #96a48f;
  letter-spacing: 0.2rem;
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
}
.hero-shape {
  position: absolute;
  top: 10.2rem;
  left: 0;
}

/* ************************************************** */
.contact-section {
  padding: 0 48rem;
}
.contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.contact-box-info {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.contact-symbol {
  background-color: #6c9d56;
  box-shadow: 0 0.8rem 0.5rem rgba(0, 1, 2, 0.2);
}
.contact-phn {
  padding: 2rem 2.5rem;
  border-radius: 100%;
}
.contact-email {
  padding: 2.2rem;
  border-radius: 50%;
}
.contact-mail:link,
.contact-mail:visited {
  display: inline-block;
  text-decoration: none;
  color: #353333;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-mail:hover {
  color: #6c9d56;
}
/* ************************************************** */
.u-margin-bottom-huge {
  margin-bottom: 14.4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 11.2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/* ****************************************** */
.footer {
  background-color: #fcf6e6;
  padding: 4rem 16rem;
}
.footer-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-texts {
  display: flex;
  gap: 4rem;
}
.footer-text {
  font-size: 1.6rem;
  font-weight: 600;
}
.copyright {
  font-size: 1.6rem;
  font-weight: 600;
}
